body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow-y:scroll;
	background-color: #EAE2D7;
}

/* All margins are removed from h1 and h2 tags, except for the bottom margin, which is set to 10px.
 * The main font-family is reset to Verdana, which looks better for titles, and the color is reset to a dark blue.
 */

h1, h2 {
    margin: 0 0 10px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #036;
}

h2 {
    font-size: 140%;
}

/* Paragraphs have the left and top margins reduced to zero. The auto rule leaves the right margin untouched, 
 * while the bottom margin is set to 1em. The default font size is reduced, and the spacing between lines increased
 * for greater readability. */

p {
    margin: 0 auto 1em 0;
    padding: 0 20px;
    font-size: 85%;
    line-height: 1.4;
}


#header {
	margin-top: 30px;
    padding: 3px 10px;
    font-weight: bold;
    text-align: center;
	clear: both;
}


#wrapper {
	padding:90px 0 45px;
	width:900px;
	margin:0 auto;
	position:relative;
	border-left: 1px solid #A4C8D8;
	border-right: 1px solid #A4C8D8;
	min-height:490px;
}

#login{
	margin: 0 0 50px 0;
}

/* Styles for the navigation menu. */

ul#nav {
    list-style: none;
    margin: 0;
    padding: 0;
	float: left;
}

#nav a {
    display: block;
    width: 100px;
    padding-left: 10px;
    margin: 3px 0;
    text-decoration: none;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

#nav a:link, #nav a:visited {
    border-left: #00425E solid 10px;
    color: #00425E;
}

#nav a:hover, #nav a:active {
    border-left-color: #fff;
    background-color: #00425E;
    color: #fff;
}

/* The here ID identifies the current page and applies a white stripe to the left as a visual indicator. */

a#here {
    border-left-color: #fff !important;
    background-color: transparent !important;
    color: #0074A5 !important;
}

/* The maincontent div has zero top and bottom margins. The right margin is 10% of page width to give breathing space on the right.
 * The left margin is set at 190px to make room for the navigation menu. Minimum and maximum widths are set to keep the layout flexible. */

#mainContent {
    margin: 0 10% 0 50px;
	float: right;
    min-width: 525px;
    max-width: 640px;
}

/* Styles for links in the maincontent div. */

#mainContent a {
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
}

#mainContent a:link, #mainContent a:visited {
    color: #00425E;
    border-bottom: #00425E dashed 1px;
}

#mainContent a:hover, #mainContent a:active {
    color: #fff;
    background-color: #00425E;
    border-bottom: none;
}


/* Styles for the contact form. */

form {
    margin: 0 0 0 20px;
	display: block;
}

form h2 {
    color: #036;
    font-size: 80%;
    font-weight: bold;
    margin: 0 0 5px 10px;
}

form p {
    margin: 0 0 5px 0;
}

.formbox {
    width: 250px;
}

fieldset {
    border: none;
}

#selectRoom{
	padding-bottom: 120px;
	margin-left: 0px;
}

#roomTypesTitle {
	margin-left:0px;
}




/* Setting display to block forces the label for each form element onto a line of its own. */

label {
    font-weight: bold;
    color: #036;
    display: block;
}

#roomTypesTitle {
	font-size: 18px;
	margin-bottom:20px;
}

#selectType{
	display:block;
}

input[type=radio]:not(old) + Label{
  display : inline-block;
  margin-bottom:20px;
}


#sex {
	display:inline-block;
}

#sortby {
	display:inline-block;
	margin-bottom:50px;
}

#checkin {
	font-weight: bold;
    color: #036;
	display: block;
	padding-top: 20px;
}

#checkout {
	font-weight: bold;
	color: #036;
	display: block;
	padding-top: 10px;
}

#calendar {
	margin: 0 auto 1em 10px;
    padding: 0 20px;
    font-size: 85%;
	display: block;
}

#userInfo {
	color: #036;	
	font-size: 20px;
	margin-left: 22px;
}

#hotelInfo {
	color: #036;
	padding-bottom: 120px;
	display: block;
}

#searchBar {
	margin-top:10px;
	margin-left:20px;
}

#A00001 {
	margin-bottom:20px;
}

/* The warning class makes the error messages on the feedback form bold and red. */

.warning {
    font-weight: bold;
    color: #f00;
}

#noSearchWarning {
	float:right;
	position:absolute;
	top: 343px;
	left: 506px;
	width:35em;
	height:18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.roomInfo {
	top: 200px;
	bottom: 20px;
}


#footer {
	clear: both;
	background-color: #A4C8D8;
	color: #FFF;
	padding:12px;
	width:876px;
	margin:0 auto;
	position:relative;
	bottom:-25px;
}
